@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden; /* দরকার হলে */
}

.dark {
  --background: 26, 34, 44;
  --border: 46, 58, 71;
  --card: 36, 48, 63;
  --copy-primary: 250, 250, 250;
  --copy-secondary: 100, 116, 139;
  --cta: 99, 102, 241;
  --cta-active: 79, 70, 229;
  --cta-text: 255, 255, 255;
  --input: 46, 58, 71;
  background: rgba(var(--background));
  color: rgba(var(--copy-secondary));
}

.circle-progressbar::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: #24303f;
  border-radius: 50%;
}

.rtl-animation {
  animation: fadeInRight 0.5s ease-in-out;
}

.ltr-animation {
  animation: fadeInLeft 0.5s ease forwards;
}

.zoom-in-element {
  animation: zoomIn 0.5s ease forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); /* Start 100px from the right */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at the original position */
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); /* Start 100px to the left */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at the original position */
  }
}
/* Zoom-in animation */
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5); /* Start at half size */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Zoom to full size */
  }
}
